* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 2em;
  background: hotpink;
}

.wrapper > * {
  padding: 0.5em 0.7em;
}

.header {
  background: tomato;
  flex: 100%;
}

.main {
  background: deepskyblue;
  flex: 6;
}

.form {
  background: gold;
  flex: 4;
}

.footer {
  background: lightgreen;
  flex: 100%;
}
