@import '_colors';
@import '_fonts';
@import '_mixins';

* {
  box-sizing: border-box;
}

body {
  background-color: $color3;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 2em;
  background-color: hotpink;
}

.wrapper > * {
  padding: 0.7em;
}

.header {
  background-color: $color2;
  color: darken($color5, 40%);
  flex: 100%;
}

.main {
  background-color: $color1;
  flex: 6;
  font-family: $font-old;
  color: darken($color5, 40%);
}

.main .adjective {
  background-color: transparentize(red, 0.8);
  border-radius: 3px;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.form {
  background-color: $color4;
  flex: 4;
}

.footer {
  background-color: $color5;
  color: darken($color5, 30%);
  flex: 100%;
}

.article {
    outline: none;
}

button {
    @include button-border;
    @include button-text;
    @include button-color;
    padding-bottom: 6px;
}

button:hover {
    transition: background-color 0.2s ease;
    background-color: lighten($color3, 4%);
}

button:focus {
    outline: none;
}